name: Build and Test Workflow

on: 
  pull_request:
    branches: [master]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
            - name: Setup Go
              uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
              with: 
                go-version: '1.23'
            - name: Run golangci-lint
              uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9
            - name: Run test and generate coverage report
              run: go test -v ./... -coverprofile=coverage.out
            - name: Upload Coverage Report
              uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
              with:
                  name: coverage-report
                  path: coverage.out
            - name: Display Coverage result
              run: go tool cover -func=coverage.out
            - name: Build Go
              run: go build ./...