name: Build and Test Workflow

on: 
  pull_request:
    branches: [master]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
            - name: Setup Go
              uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
              with: 
                go-version: '1.24'
            - name: Run golangci-lint
              uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20
            - name: Run test and generate coverage report
              run: go test -v ./... -coverprofile=coverage.out
            - name: Upload Coverage Report
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
              with:
                  name: coverage-report
                  path: coverage.out
            - name: Display Coverage result
              run: go tool cover -func=coverage.out
            - name: Build Go
              run: go build ./...